ul#archive_list {
  list-style-position: outside; 
  text-transform:lowercase;
  list-style-type: none; 
  padding: 0em;
  left: 23%;
  border-bottom: none !important;
  position: relative;
  margin-top: 20%;
  margin-bottom: 20%;
}
ul#archive_list a {
  border-bottom: none;
}
ul#archive_list a:hover {
  color: #F58642;
  border-bottom: none;
}
ul#archive_list a:active {
  border-bottom: none;
}

span.archive_date {
  text-align: right;
  text-transform:capitalize;
  opacity: 0.5;
  margin-right: 0.59em;
}

@media screen and (max-width: 500px) {
  ul#archive_list {
    left: 5%;
    width: 95%;
  }
}
