html {
  -webkit-font-smoothing: aliased;
}

body {
  font-family: "Helvetica", "Georgia", "Arial"; 
  font-weight: lighter;
  line-height: 1.4;
  background: rgb(255,255,255);
  color: rgb(21,21,29); rgb(61, 61, 61); 
}
@-moz-document url-prefix() {
  body {
    font-weight: lighter;
  }
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid rgba(21,21,29, 0.4);
}
a:hover {
  color: #F58642;
  border-bottom: 1px solid #F58642;
}
a:active {
  color: rgb(21,21,29);
  border-bottom: 1px solid rgb(21,21,29);
}
a:focus {
  outline: none;
  -moz-outline-style: none;
}
a:visited {
  -moz-outline-style: none;
}

::selection {  
  color: #F58642; 
}
::-moz-selection { 
  color: #F58642;
}  
 
h1, h2, h3 {
  text-align:center;
  font-weight: lighter;  
  margin-top: 2.5em;
  margin-bottom: 0.5em;
  font-size: 1.3em;
  opacity: 0.78;
  color: rgb(21,21,29); rgb(61,61,61); #DEDEFF; #F58642;
} 
h2 {
  font-size: 1.2em;
}
h3 {
  font-size: 1.1em;
}

code {
  font-size: 1em;
}



