#content_section {
  width: 95%;
  /*margin: 0 auto;*/
  margin-top: 10%;
  margin-bottom: 20%;
  font-family: Baskerville;
  opacity: 0.9;
  float: none;
}
@media screen and (min-width:5in) {
  #content_section {
    max-width: 23em;
    width: 95%;
    margin: 0 auto;
    margin-top: 10%;
    margin-bottom: 20%;
    font-family: Baskerville;
    opacity: 0.9;
    float: none;
  }
}
.footnotes hr {
  border: 0;
  background: rgb(21,21,29);
  height: 1px;
  opacity: 0.4;
}
.footnotes ol {
  list-style-type: none;
  padding-left: 0;
}
#content_section .article_header {
  font-size: 1.5em;
  opacity: 0.5;
  margin-bottom: -0.7em;
}
#content_section h1 {
  text-align: left;
}
