#content_section {
  width: 95%;
  max-width: 23em;
  margin: 0 auto;
  margin-top: 20%;
  margin-bottom: 20%;
  font-family: Helvetica;
  opacity: 0.9;
}
.footnotes hr {
  border: 0;
  background: rgb(21,21,29);
  height: 1px;
  opacity: 0.4;
}
.footnotes ol {
  list-style-type: none;
  padding-left: 0;
}
#content_section .article_header {
  text-align: left;
  font-size: 1.5em;
  opacity: 0.5;
  margin-bottom: -0.7em;
}
