html {
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "Helvetica", "Georgia", "Arial"; 
  font-weight: normal;
  line-height: 1.5;
  background: #304469;
  color: #DEDEFF; 
}
@-moz-document url-prefix() {
  body {
    font-weight: lighter;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

a:focus {
  outline: none;
  -moz-outline-style: none;
}
a:visited {
  -moz-outline-style: none;
}

::selection {  
  color: #F58642; 
}

::-moz-selection { 
  color: #F58642;
}  
 
h1, h2, h3 {
  text-align:center;
  font-weight: lighter;  
  font-size: 1.2em;
  font-family: "Helvetica";
  opacity: 0.78;
} 
h1 {
  font-size: 1.3em;
}

code {
  font-size: .9em;
}

span.figure {
  color: #F58642;
  cursor: pointer;
}

span#reviewers {
  float: right;
  text-align:right;
}

span#lambda {
  float: right;
}

#figMenu ul {
  position: fixed;
  float: right;
  right: 5%;
  top: 33%;
  list-style-type: none;
  visibility: hidden;
}
#figMenu li:hover {
  cursor: pointer;
  color: #F58642;
}
#figMenu li:active {
  color: #DEDEFF;
}

ul.figControls {
  /*list-style-position: outside;*/
  list-style-type: none;
  color: #DEDEFF;
  opacity: 0.67;
  margin-top: .6em;
  font-size: 0.7em;
  float:right;

}
ul.figControls li {
  display: inline;
}
.figControls li:hover {
  color: #F58642;
  cursor: pointer;
}
ul.figControls li:active {
  color: #DEDEFF;
} /* doesn'tw ork*/


.textLink {
  font-size: 1em;
}
.textLink:hover {
  color: #F58642;
  cursor: pointer;
}
.textLink:active {
  color: #DEDEFF;
}

.resetLink {
}
.resetLink:hover {
  color: #F58642;
  cursor: pointer;
}

.xlabel {
  text-align: center;
  left: 33%;
  right: 33%;
  bottom: 3%;
  position: absolute;
  opacity: 0.75;
}
.ylabel {
  text-align: center;
  position: absolute;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  top: 50%;
  left: -3em;
  opacity: 0.75;
}
.figtitle {
  text-align: center;
  margin-top: 2em;
  opacity: 0.75;
}

#figure_column {
  top: 18.5em;
  margin-bottom: 9em;
  background-color: transparent;
  position: absolute;
  left: 37em; 51%; 54%; 1%; 1.7in;
  /*float: left;left;*/
  /width: 38.5%;
  /*max-width: 7in;*/
  margin-left: 0em;12.5%;
  padding-left: 0em;
}


#figure_column iframe {
  width: 100%;
  border: 0px;
}

.drag_wrapper {
  width: 100%;
  height: 100%
}

.figure_container {
  margin-top: 2.5em;
  margin-bottom: 5em;
  margin-right: 3em;
  margin-left: 0em;12.5%;
  padding: 1em;
  box-shadow: 0px 1px 2px 1px #172133;
  /*background: #49497F;*/
  background: #293A59; 
  position:relative;
  cursor: move;
  list-style-type:none;
  width: 35em;
  max-width: 100%;80%;
  min-width: 14em;
  min-height: 14em;
  float: left;
}
.figure_container img {
  width: 90%;
  margin: 5%;
  position: relative;
}

#content_section {
  background:  transparent;#304469;
  padding-top: 3.3em;
  /padding-right: 3em;
  width: 21em;
  max-width: 22em;
  min-width: 2.5in;
  position: relative;  
  text-align: justify;
  left: 9.5em;;
  word-spacing: -0.17em; -0.15em;
  letter-spacing: normal;
  float: left;
  margin-top: 9em;
  margin-bottom: 9em;
  opacity: 0.73;
}
#content_section a {
  text-decoration: none;
  border-bottom: 1px solid rgba(222, 222, 255, 0.4);
}
#content_section a:hover {
  color: #F58642;
  border-bottom: 1px solid #F58642;
}
#content_section a:active {
  color: #DEDEFF;
  border-bottom: 1px solid #DEDEFF;
}
#content_section h1 {
  margin-top: 2.5em;
  margin-bottom: 0.5em;
  color: #F58642;
  opacity: 0.9;
  font-size: 1.35em;
}
#content_section h2 {
  margin-top: 2.5em;
  margin-bottom: 0.5em;
  color: #F58642;
  opacity: 0.9;
}
#content_section h3 {
  margin-top: 2.5em;
  margin-bottom: 0.5em;
  color: #F58642;
  opacity: 0.9;
}

img#header {
  width: 70%;
  margin-left: 15%;
  margin-bottom: 1em;
  margin-top: 1em;
}

img#footer {
  width: 80%;
  margin-bottom: 0.5em;
  margin-top: 1em;
  margin-left: 10%;
}

ul#links {
  text-transform: lowercase;  
  list-style-position: outside; 
  list-style-type: none; 
  display:table;
  table-layout:fixed;
  padding-left:0px;
  width:100%;
  margin-bottom: 0px;
}
ul#links a {
  display: block;
  text-align:center;
}
ul#links a:hover {
  color: #F58642;
}
ul#links a:active {
  color: #DEDEFF;
}
ul#links li {
  display:table-cell;
}

#about_section {
  width:100%;
  font-size: 19pt; 
  left: 0px;
  position: relative;
  float: left; 
  margin-bottom: 0px;
  margin-top: -1.5em;
  font-weight: lighter !important;
} 
#about_section a { 
  color: #DEDEFF;
  font-weight: lighter !important;
  border-bottom: none !important;
} 
#about_section a:hover {
  color: #F58642;
  border-bottom: none !important;
}

.article_header {
  text-align: center;
  font-family: "Helvetica";
  color: #DEDEFF;
  opacity: 0.9;
}

.article_header a { 
  font-size: 24pt;
  font-weight: lighter;
  border-bottom: none !important;
}
.article_header a:hover {
  color: #F58642 !important;
}
.article_header a:active {
  color: #DEDEFF !important;
}

ul#archive_list {
  list-style-position: outside; 
  text-transform:lowercase;
  list-style-type: none; 
  padding: 0em;
  left: 33%;
  width: 30em;
  border-bottom: none !important;
  position: relative;
  margin-top: 20%;
  opacity: 0.85;
  margin-bottom: 20%;
}
ul#archive_list a {
  border-bottom: none;
}
ul#archive_list a:hover {
  color: #F58642;
  border-bottom: none;
}
ul#archive_list a:active {
  color: #DEDEFF;
  border-bottom: none;
}

span.archive_date {
  float: right;
  text-align: right;
  text-transform:capitalize;
  opacity: 0.45;
  margin-right: 1em;
  right: 99.8%;
  position: relative;
}

#right_archive a {
  float: left;
  text-align:right;
}

.right_text {
  float: right;
  text-align: right;
}

#right_date {
  float: right;
  text-align:right;
}

.article_footer {
  font-weight: lighter;
}

#about_header {
  margin-top: 0em;
  font-size: 19pt;
  text-align:right;
  font-weight: lighter;  
  color: #DEDEFF;
}

.article_separator { 
  background-color: #DEDEFF; 
  border-style: none; 
  height: 1px; 
  width: 100%;
  text-align: left; 
  margin-top: 2em;
  margin-bottom: 2em;  
  opacity: 0.4;
}

#about_fig {
  top: 18em;
  margin-bottom: 9em;
  background-color: transparent;
  position: absolute;relative;
  left: 54% ; 1%; 1.7in;
  float: left;
  width: 39%;
}
#about_fig img {
  width: 70%; 85%;
  opacity: 0.7;
}

#figure_iframe {
  background-color: transparent;
  position: absolute;
  right: 1in;
  float: right;
  top: 115px;
  width: 4.75in;
}

.figure_header {
  margin-top: -1em;
  float: left;
  opacity:0.6;
}
.figure_header a {
  line-height: 1.0; 
  font-size: 16pt;
  font-weight: lighter;
  font-family: "Helvetica", "Arial";
  text-align: right;
  float: right;
  margin-right: 0em;
  margin-top: -1em;
  margin-bottom: 0.5em; 
}
.figure_header a:hover {
  color: #F58642;
}
.figure_header a:active {
  color: #DEDEFF;
}

