html {
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "Helvetica", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue"; 
  font-weight: normal;
  line-height: 1.5;
  background: #304469;
  color: #DEDEFF; 
  font-size: 11pt;
}
@-moz-document url-prefix() {
  body { font-weight: lighter;}
}

a {
  text-decoration: none;
  color: inherit;
}

a:focus {
  outline: none;
  -moz-outline-style: none;
}
a:visited {
  -moz-outline-style: none;
}

::selection {  
  color: #F58642;
}

::-moz-selection { 
  color: #F58642; 
}  
 
h2, h3 {
  text-align:center;
  font-weight: lighter;  
  color: #DEDEFF;
  font-size: 1.2em;
  opacity: 0.65;
} 
h1 {
  text-align:center;
  font-weight: lighter;  
  color: #DEDEFF;#DEDEFF;
  font-size: 1.5em;
}

span#reviewers {
  color: #DEDEFF;
  float: right;
  text-align:right;
}

span#lambda {
  color: #DEDEFF;
  float: right;
}

ul#links {
  text-transform: lowercase;  
  list-style-position: outside; 
  list-style-type: none; 
  color: #DEDEFF;
  display:table;
  table-layout:fixed;
  padding-left:0px;
  width:100%;
  margin-bottom: 0px;
}
ul#links a {
  display: block;
  text-align:center;
}
ul#links a:hover {
  color: #F58642;
}
ul#links a:active {
  color: #DEDEFF;
}
ul#links li {
  display:table-cell;
}

#about_page {
  top: 10em;
  width: 33%;
  left: 33%;
  position: relative;
}

#content_section {
  padding: 3.3em;
  padding-left: 0%;
  padding-right: 0%;
  width: 33%;
  max-width: 4in;
  min-width: 3.5in;
  position: relative;  
  text-align: justify;
  left: 23%;
  word-spacing: -0.15em;
  letter-spacing: normal;
  float: left;  
  margin-top: 9em;
  margin-bottom: 9em;
  opacity: 0.87;
}
#content_section a {
  text-decoration: none;
  border-bottom: 1px solid rgba(222, 222, 255, 0.4);
}
#content_section a:hover {
  color: #F58642;
  border-bottom: 1px solid #F58642;
}
#content_section a:active {
  color: #DEDEFF;
  border-bottom: 1px solid #DEDEFF;
}

#about_section {
  width:100%;
  font-size: 19pt; 
  left: 0px;
  position: relative;
  float: left; 
  margin-bottom: 0px;
  margin-top: -1.5em;
  font-weight: lighter !important;
} 
#about_section a { 
  color: #DEDEFF;
  border-bottom: none !important;
  font-weight: lighter !important;
} 
#about_section a:hover {
  color: #F58642;
  border-bottom: none !important;
  font-weight: lighter !important;
}

.article_header {
  text-align: center;
}

.article_header a { 
  color: #DEDEFF;
  font-size: 24pt;
  font-weight: lighter !important;
  text-decoration: none !important;
  border-bottom: none !important;
}
.article_header a:hover {
  color: #F58642 !important;
  border-bottom: none; 
}
.article_header a:active {
  color: #DEDEFF !important;
  border-bottom: none; 
}

ul#archive_list {
  list-style-position: outside; 
  text-transform:lowercase;
  list-style-type: none; 
  padding: 0em;
  width: 100%;
}
ul#archive_list a {
  border-bottom: none;
  color: #DEDEFF;
}
ul#archive_list a:hover {
  color: #F58642;
  border-bottom: none;
}
ul#archive_list a:active {
  color: #DEDEFF;
  border-bottom: none;
}

span.archive_date {
  float: right;
  text-transform:capitalize;
  text-align:right !important;
}

#right_archive a {
  float: right;
  text-align:right;
  font-size: 16px;
}

.right_text {
  float: right;
  text-align: right;
}

#right_date {
  float: right;
  text-align:right;
  font-size: 16px;
}

.article_footer {
  font-weight: lighter;
}

#about_header {
  margin-top: 0em;
  font-size: 19pt;
  text-align:right;
  font-weight: lighter;  
  color: #DEDEFF;
}

.article_separator { 
  background-color: #DEDEFF; 
  border-style: none; 
  height: 1px; 
  width: 100%;
  text-align: left; 
  margin-top: 2em;
  margin-bottom: 2em;  
  opacity: 0.4;
}








